<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <navbar class="navbar">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <span class="title">login</span>
    <div class="actions">
      <%= f.submit "log in", class: 'signup' %>
    </div>
  </navbar>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'authentication-fields' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'authentication-fields' %>
  </div>
<% end %>

<div class="sessions-links">
  <%= render "users/shared/links" %>
</div>