<navbar class="navbar">
  <%= link_to group_products_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <span>NEW PRODUCT</span>
  <i class="fa-solid fa-magnifying-glass"></i>
</navbar>
<%= form_with url: group_products_path do |f| %>
  <%= f.text_field :name, placeholder: 'Name', class: 'fields' %>
  <%= f.number_field :amount, placeholder: 0, step: :any, class: 'fields' %>
  <div class="categories">
    <%= f.label :group, 'Choose all the categories you want to add (must be one at least)' %>
    <% @groups.each do |group| %>
      <div>
        <%= f.check_box :groups, { multiple: true }, group.id, false %>
        <%= f.label group.name %>
      </div>
    <% end %>
  </div>
  <%= f.submit 'Save', class: 'add-new-button' %>
<% end %>