<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <navbar class="navbar">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <span class="title">register</span>
    <div class="actions">
      <%= f.submit "Sign up", class: 'signup' %>
    </div>
  </navbar>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "email", placeholder: 'Full name', class: 'authentication-fields' %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'authentication-fields' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'authentication-fields'  %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation', class: 'authentication-fields'  %>
  </div>
<% end %>

<%= render "users/shared/links" %>
